@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin: 30px auto;
  max-width: 800px;
  border: 1px solid;
  border-color: darkgrey;
  border-radius: 10px;

}

.App-container {
  padding: 25px;
  background-image: linear-gradient(65.9deg, rgba(85, 228, 224, 1) 5.5%, rgba(75, 68, 224, 0.74) 54.2%, rgba(64, 198, 238, 1) 55.2%, rgba(177, 36, 224, 1) 98.4%);
  color: #311069;
  border-radius: 10px;
}