@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.App {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
  margin: 20px auto;
  max-width: 576px;
  border: 1px solid;
  border-color: darkgrey;
  border-radius: 10px;
  background: lightblue;
}

.App-container {
  max-height: max-content;
}