div {
  color: #70757a;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
}

h3 {
  color: #202124;
  display: inline-block;
  font-size: 48px;
  line-height: 60px;
  vertical-align: top;
}

.current-weather-icon {
  display: inline-block;
  height: 60px;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
}

.temperature {
  display: inline-block;
  padding-left: none;
  vertical-align: top;
}

.temperature-metric-switch {
  color: #202124;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  margin-top: 6px;
  padding-left: 6px;
  vertical-align: top;
}

.humidity-wind {
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 2px;
  padding-top: 6px;
}

.current-weather-temp,
.city-date-description {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.current-weather-temp {
  padding-left: 0;
}

.city-date-weatherDescription {
  text-align: right;
  padding-left: 18px;
}

.city {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
}
.weatherDescription,
.date {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}
li {
  list-style-type: none;
}
